@theme {
    --font-body: 'Fira Sans', 'sans-serif';
    --font-display: 'Zilla Slab', 'serif';

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 4rem;

    --border-width: 1px;
    --border-width-0: 0px;
    --border-width-2: 2px;
    --border-width-3: 3px;
    --border-width-4: 3px;
    --border-width-8: 8px;

    --color-accent: #575756;
    --color-accent-minor: #DA171C;
    --color-accent-blue: #878787;

    --color-primary: #DA171C;
    --color-primary-800: #DA171C;
    --color-primary-700: #DE3135;
    --color-primary-600: #E24B4E;
    --color-primary-500: #E66468;
    --color-primary-200: #F3B2B3;
    --color-primary-100: white;

    --color-secondary: #575756;
    --color-secondary-800: #575756;
    --color-secondary-700: #7e7e7d;
    --color-secondary-600: #a7a7a7;
    --color-secondary-200: #d2d2d2;
    --color-secondary-100: white;

    --color-black-default: black;
    --color-white-default: white;
    
    --color-gray-100: #feffff;
    --color-gray-200: #f2f3f2;
    --color-gray-300: #e6e7e4;
    --color-gray-400: #bdbdbd;
    --color-gray-500: #9e9e9e;
    --color-gray-600: #757575;
    --color-gray-700: #616161;
    --color-gray-800: #424242;
    --color-gray-900: #212121;

  }
