@theme {
  --font-body: "Fira Sans", "sans-serif";
  --font-display: "Zilla Slab", "serif";

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 4rem;

  --border-width: 1px;
  --border-width-0: 0px;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-4: 3px;
  --border-width-8: 8px;

  --color-accent: #693a19;
  --color-accent-minor: #DF6824;
  --color-accent-blue: #BB4A72;

  --color-primary: #DF6824;
  --color-primary-800: #934e13;
  --color-primary-700: #c4681a;
  --color-primary-600: #DF6824;
  --color-primary-500: #f79b4d;
  --color-primary-200: #f9b479;
  --color-primary-100: white;

  --color-secondary: #BB4A72;
  --color-secondary-800: #b41268;
  --color-secondary-700: #BB4A72;
  --color-secondary-600: #e7459c;
  --color-secondary-200: #ed74b5;
  --color-secondary-100: white;

  --color-black-default: black;
  --color-white-default: white;

  --color-gray-100: #feffff;
  --color-gray-200: #f2f3f2;
  --color-gray-300: #e6e7e4;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;
}
