---
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=./welcome" />
    <link rel="canonical" href="./welcome" />
    <meta name="robots" content="noindex">
    <style>html { display: none; }</style>
    <title>Redirecting…</title>
  </head>
  <body>
    <noscript><meta http-equiv="refresh" content="0; url=./welcome" /></noscript>
  </body>
</html>