---
import '/src/styles/global.css' 

import { load_yaml } from "../utils/load_yaml";

const footer_data = load_yaml("./src/data/footer.yml");
const navigation_data = load_yaml("./src/data/navigation.yml")

import Head from '../components/Head'
import Navigation from '../components/Navigation';
import Footer from '../components/Footer'

const { page_info } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Head />
	</head>
	<body id="app" class="overflow-x-hidden">

        <Navigation nav_data={navigation_data} client:load/>

        <main>
            <slot />
        </main>

        <Footer footer_data={footer_data} contact={page_info.contact}/>
	</body>
</html>

