---
import Sidebar from "../components/Sidebar";
import DefaultLayout from "./DefaultLayout.astro";
const { frontmatter } = Astro.props;
---

<DefaultLayout page_info={frontmatter}>
  <div class="section">
    <div class="header">
      <div class="container">
        <h1 class="mb-0">{frontmatter.title}</h1>
      </div>
    </div>
  </div>

  <div class="container md:py-16 flex md:flex-row flex-col justify-between">
    <article class="content md:w-3/5 w-full md:mt-0 mt-8 md:order-none order-2">
      <slot />
    </article>

    {frontmatter.sidebar && <Sidebar sidebar_data_path={frontmatter.sidebar} />}

    {frontmatter.sidetoc && <p>TODO SIDETOC</p>}

    <slot name="sidebar" />
  </div>
</DefaultLayout>
